@use 'coolors';
@use 'buttons';

// backgrounds
.bg-grey {
  background-color: var(--c-grey);
}
.bg-purple {
  background-color: var(--c-purple);
}
// text
.text-purple {
  color: var(--c-purple)
}
.text-green {
  color: var(--c-green)
}
// details
.link-circle-purple {
  background-color: var(--c-purple);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(113, 66, 255, 0.4);
  border-radius: 10px;
  width: 6px;
  height: 6px;
  margin-top: 1px;
  margin-right: 7px;
}
.title-circle-dark {
  background-color: #000;
  box-shadow: 0 0 0 3px rgba(113, 66, 255, 0.4);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  flex-shrink: 0;
}
// outhers
.fix-spacing-footer {
  height: calc(100vh - 352px);
}